/*HSL(Hue,Saturation.Lightness)values for advanced users
Hue-degree on color wheel 0 to 360(0-red)
Saturation-% value % shade of gray,100% full color
Lightness-% value  black, 50% is neigther light or dark,100% is white
/* HEX values #RRGGBB */
/*123456789 A  B  C  D  E  F
            10 11 12 13 14 15
            #00FF00 - red
            #00FF00 - Green
            */
#first
{
    color: #ff0000;
    background: #000;
}
#second{
    color: #fff;
    background: #00ff00;
}
#three{
    color: #0000ff;
    background: #f15025;
}
#four{color: #f234ad;
    background: #222;

}
#fifth{
    color: black;
    background: hsla(209, 49%, 56%, 1);}